<% include partials/header %>

<div class="jumbotron container">
	<div class="container">
		<h1>Campgrounds</h1>
		<p>View campgrounds from all over the world</p>
		<a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
	</div>
</div>

<div class="container">	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
		<% campgrounds.forEach(function(campground) { %>
			<figure class="figure col-md-3 col-sm-6">
				<img class="img-thumbnail crop-centre" src="<%= campground.image %>" alt="<%= campground.name %>">
				<figcaption class="figure-caption"><%= campground.name %></figcaption>
			</figure>
		<% }) %>
		
	</div>

	

	<a href="/">Back to Homepage</a>
	
</div>

<% include partials/footer %>